---
layout: default
permalink: "/blog/"
---
<div class="container mx-8">
<!-- 
  <div id="archives">
    {% for category in site.categories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
    
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
          <article class="archive-item">
            <div class="max-w-sm lg:w-1/2 rounded overflow-hidden shadow-lg hover:shadow-md mx-2">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <div class="px-6 py-4">
                  <img class="mx-auto my-4" src="/img/{{post.image}}" alt="Sunset in the mountains" width="225" height="45">
                  <h3 class="font-bold text-black text-xl mb-2 text-center">{{post.title}}</h3>
                  <p class="text-white text-base text-center">
                    {{ post.descripcion }}
                  </p>
                </div>
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
    {% endfor %}
  </div> -->


{% for post in site.categories[category_name] %}
  <article class="archive-item">
    <div class="px-6 py-4 mx-auto">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h3 class="font-bold text-black text-xl mb-2 text-center">{{post.title}}</h3>
        <p class="text-white text-base text-center">
          {{ post.descripcion }}
        </p>
      </a>
    </div>
  </article>
{% endfor %}
  
</div>

