---
layout: default
---
<div class="blog-post">
  <section class="container max-w-5xl p-4 mx-auto">
    <div class="mb-8">
      <img src="{{page.image}}" alt="" class="rounded">
      <h1 class="text-3xl font-bold break-normal md:text-5xl">{{ page.title }}</h1>
      <div class="text-gray-800 capitalize"> {{ page.date | date: "%-d %B %Y" }} | {{page.category}}</div>
    </div>
    {{ content }}
  </section>


  <!-- <div class="container p-4 mt-8 font-sans text-center bg-teal-100 rounded md:p-24">
  <h2 class="text-2xl font-bold break-normal md:text-4xl">Subscribe to {{ site.title }}</h2>
  <h3 class="text-base font-normal font-bold text-gray-600 break-normal md:text-xl">Get the latest posts delivered right to your inbox</h3>
  <div class="w-full pt-4 text-center">
    <form action="#">
      <div class="flex flex-wrap items-center max-w-md p-1 pr-0 mx-auto">
        <input type="email" placeholder="youremail@example.com" class="flex-1 p-3 text-gray-600 rounded shadow appearance-none focus:outline-none">
        <button type="submit" class="flex-1 block py-4 mt-4 text-base font-semibold tracking-wider text-white uppercase bg-teal-500 rounded shadow appearance-none md:mt-0 md:inline-block hover:bg-teal-400">Subscribe</button>
      </div>
    </form>
  </div> -->
  </div>

</div>